
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /products/{productId} {
      allow read, list: if isSignedIn();
      allow create, update: if isSignedIn();
      allow delete: if false; 
    }
    
    match /stores/{storeId} {
      allow read, list: if isSignedIn();
      allow create, update: if isSignedIn();
      allow delete: if false;
    }

    match /prices/{priceId} {
      allow get, list: if isSignedIn();
      
      allow create: if isSignedIn()
                    && request.resource.data.userId == request.auth.uid
                    && request.resource.data.price > 0;

      allow update: if isSignedIn() &&
                  request.resource.data.diff(resource.data).affectedKeys().hasOnly(['upvotes', 'downvotes', 'voteScore']);
                  
      allow delete: if isOwner(resource.data.userId);

      match /comments/{commentId} {
        allow read, list: if isSignedIn();
        allow create: if isSignedIn() 
                      && request.resource.data.userId == request.auth.uid;
        allow update, delete: if isOwner(resource.data.userId);
      }
    }

    // Allow signed-in users to read from the contributions collection
    match /contributions/{contributionId} {
        allow get, list: if isSignedIn();
    }
  }
}
